/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: #bdc3c7;
}
app-rio-navbar{
  div.main-body{
    padding: 1rem;
  }
}
.w-100{
  width: 100%;
}
.m-1{
  margin: 1rem;
}

div.btn-group-right{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;

  button{
  margin-left: 1rem;
  }

}
