<app-rio-navbar pageTitle="Recipes">
  <div class="main-body">


    <mat-card>
      <mat-card-content>
        <form [formGroup]="searchGroup" (submit)="getRecipes()">
          <mat-form-field appearance="outline"  class="w-100">
            <mat-label>Search</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>

          <div style="display: flex;justify-content: space-between;">
            <mat-checkbox formControlName="vegan">Vegan Only</mat-checkbox>
            <button mat-stroked-button type="submit">Search</button>
          </div>

        </form>

      </mat-card-content>
    </mat-card>

    <div *ngFor="let recipe of recipes" style="margin-top:1em;">
      <app-rio-recipe-card [recipe]="recipe"></app-rio-recipe-card>
    </div>

  </div>
</app-rio-navbar>


