<div id="toptext">
    <div id="logo">
        <p>Food Recipies</p>
    </div>
    
    <div class="my-3" id="login">
        <a class="btn btn-success btn-lg" routerLink="/adminlogin" role="button">Admin Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" routerLink="/userlogin" role="button">User Login</a>
    </div>
</div>
<div class="jumbotron">
  <div class="text-center">
      <h1 class="display-4">What's Cooking ?</h1>
  </div>
  <p class="lead">Cooking, cookery, or culinary arts is the art, science and craft of using heat to prepare food
      for consumption. Cooking techniques and ingredients vary widely, from grilling food over an open fire to
      using electric stoves, to baking in various types of ovens, reflecting local conditions.</p>
  <hr class="my-4">
  <p>One cannot think well, love well, sleep well, if one has not dined well</p>

</div>


    <img src="https://media.istockphoto.com/photos/table-top-view-of-spicy-food-picture-id1316145932?b=1&k=20&m=1316145932&s=170667a&w=0&h=feyrNSTglzksHoEDSsnrG47UoY_XX4PtayUPpSMunQI=" class="d-block w-100" alt="" width="" height="">

    <div class="container">
    <br>
    <div class="my-5">

    </div>

