<div id="toptext">
    <div id="logo">
        <p >Food Recipies</p>
    </div>
    <div class="my-3" id="login">
        <a class="btn btn-success btn-lg" routerLink="/adminlogin" role="button" style="background-color: rgb(4, 109, 4);">Admin Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" routerLink="/userlogin" role="button" style="background-color: rgb(13, 85, 167);">User Login</a>
    </div>
</div>

<img src="https://img.freepik.com/free-photo/vegetables-set-left-black-slate_1220-685.jpg?t=st=1651925095~exp=1651925695~hmac=9e8469b2fe46b1df326139a621f233d9008fe59a04fddcc68d363492f456dde8&w=900" class="d-block w-100" alt="...">
<div class="container">


    <br>
    <div class="my-5">

    </div>
    <br>

    <div class="jumbotron">
        <div class="text-center">
            <h1 class="display-4">Whats Cooking ?</h1>
        </div>
        <p class="lead">Cooking, cookery, or culinary arts is the art, science and craft of using heat to prepare food
            for consumption. Cooking techniques and ingredients vary widely, from grilling food over an open fire to
            using electric stoves, to baking in various types of ovens, reflecting local conditions.</p>
        <hr class="my-4">
        <p>One cannot think well, love well, sleep well, if one has not dined well</p>

    </div>

</div>