<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:53648/userlogin">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:53648/adminlogin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:53648/userreg">Register-Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:53648/userdash">User-dash</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>
<div id="userlogin">
    <div class="text-center">
        <h2 class="text-primary-my-2"><mark>User Registration</mark></h2>
    </div>
    <div class="m-5 p-5">
        <form [formGroup]="userRegisterForm">
            <div class="form-group col-md-7">
                <div class="form-group">
                    <label for="exampleInputEmail1" style="color:white;"> Name</label>
                    <input type="text" placeholder="Example John" type="fname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        formControlName="name" required>
                </div>
            </div>

           

            <div class="form-group col-md-7">
                <label for="exampleInputEmail1" style="color:white;">Email id</label>
                <input type="text" placeholder="Example@.com" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="email" required>
            </div>

            <div class="form-group col-md-7">
                <div class="form-group">
                    <label for="exampleInputEmail1" style="color:white;">Phone No</label>
                    <input type="text" placeholder="+91(10)" type="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        formControlName="phone"required>
                </div>
            </div>


            <div class="form-group col-md-7">
                <label for="exampleInputPassword1" style="color:white;">Password</label>
                <input type="text" placeholder="Example@123" type="password" class="form-control" id="exampleInputPassword1" formControlName="password" required>
            </div>

            <div class="form-group col-md-7">
                <label for="exampleInputPassword1" style="color:white;"> Confirm Password</label>
                <input type="text" placeholder="Example@123" type="cpassword" class="form-control" id="exampleInputPassword1" formControlName="cpassword" required>
            </div>

            <button type="submit" class="btn btn-warning" (click)="onUserRegistrationSubmit()">Register</button>
        </form>
    </div>

</div>
