.container{
    background-image: url("https://img.freepik.com/free-photo/tomatoes-tomatoes-lemon-leaves-garlic-bottle-oil-tree-branches_140725-74118.jpg?t=st=1651925095~exp=1651925695~hmac=af0244b2f901a02d6089910f8e98f79ccd9dfb91f464b18aa5a09e11f44d5971&w=996");
    background-color: skyblue;
    background-repeat: no-repeat;
    background-size: cover;
}